<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmployeesServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EmployeesServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44345/EmployeesService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmployeesServiceSoap"
                contract="EmployeesService.EmployeesServiceSoap" name="EmployeesServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>